.section__type-nav {
  .uk-navbar-left {
    margin: 0px 70px;
  }
  .uk-navbar-right {
    margin-right: 70px;
    margin-top: 10px;
    ul {
      li {
        a {
          color: $color__secondary;
          font-size: 15px;
          font-family: monospace;
        }
        .nav__type-dropdown {
          display: none !important;
        }
        .nav__cta {
          display: block;
          background-color: $color__main;
          height: 40px;

          border-radius: 4px;
          font-weight: bold;
          margin-top: 20px;
          a {
            color: $color__white;
            padding-bottom: 37px;

            span {
              /*nav__link::before {
    border-bottom: 2px solid #303d71 !important;
              font-size: 18px;
              text-transform: capitalize;
              color: #303d71 !important;
              transition: 300ms;
              font-family: AvenirNext, "sans-serif";
            */
            }
          }
        }
      }
    }
  }
}
