.section__type-hero {
  h1 {
    line-height: 1.28;
    color: $color__secondary;
    text-align: center;
    font-size: 55px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
    padding: 40px;
  }
  a {
    background-color: $color__secondary;
    color: $color__white;
    padding: 8px 40px;
    font-size: 25px;
    border-radius: 30%;
    margin: 50px 245px;
    border: 1px solid $color__secondary;
    &:hover {
      background-color: $color__white;
      color: $color__secondary;
    }
  }

  .hero__type-img {
    background-repeat: no-repeat;
  }
}
