.section__type-about {
  h1 {
    color: $color__secondary;
  }
  span {
    color: $color__main;
  }
  h3 {
    color: $color__secondary;
  }
  .about__posts-btn {
    background-color: $color__main;
  }
  .about__events-btn {
    background-color: $color__secondary;
  }
}
