.section__type-nav {
  .uk-navbar-left {
  }
  .uk-navbar-right {
    margin-right: 70px;
    margin-top: 40px;
    ul {
      li {
        a {
          display: inline-block;
          color: $color__secondary;
          font-size: 15px;
          font-family: monospace;
          &:after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background: $color__secondary;
            transition: width 0.3s;
          }
          &:hover::after {
            width: 100%;
          }
          .nav__cta {
            display: block;
            background-color: $color__main;
            height: 40px;
            border-radius: 4px;
            font-weight: bold;
            margin-top: -7px;

            a {
              color: $color__white;
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
}
