.section__type-hero {
  .hero__type-content {
    h1 {
      line-height: 1.28;
      font-weight: bolder;
      color: $color__secondary;
      text-align: center;
      margin: 100px;
      font-size: 60px;
    }
  }
}
